.dashboard {
  background-color: #E5E5E5;
}

.dashboard__submenu {
  padding-top: 4%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.dashboard__title {
  margin-left: 7.8%;
  margin-right: auto;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.dashboard__list {
  list-style: none;
  margin-right: 7%;
}

.dashboard__list-item {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  width: 81px;
  height: 18px;
  margin-left: 48px;
  display: inline;
}

.dashboard__button {
  width: 200px;
  height: 46px;
  color: #FFFFFF;
  border: 1px solid #FD5A01;
  background: #FD5A01;
  border-radius: 12px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.dashboard__button:focus {
  outline: none;
}

.dashboard__list-item_active {
  position: relative;
}
.dashboard__list-item_active:before {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -6px;
  height: 2px;
  width: 140%;
  border-bottom: 1px solid #202A49;
}