.dashboard {
  background-color: #E5E5E5;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 80px minmax(893px, auto) 51px;
  overflow: hidden;
}
@media screen and (max-width: 1115px) {
  .dashboard {
    grid-template-columns: 5% 95%;
  }
}

.dashboard__submenu {
  padding-top: 3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.dashboard__title {
  margin-left: 7.8%;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.dashboard__list {
  list-style: none;
  margin-right: 7%;
}
.dashboard__list a:hover {
  text-decoration: none;
}

.dashboard__list-item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  width: 81px;
  height: 18px;
  margin-left: 48px;
  display: inline;
  color: #000000;
}
.dashboard__list-item:hover {
  text-decoration: none;
}

.dashboard__label {
  color: black;
}

.dashboard__filter {
  overflow: hidden;
  width: 150px;
  height: 46px;
  font-family: muller;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #202A49;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 12px;
}
.dashboard__filter:focus {
  outline: none;
}
.dashboard__filter:active {
  outline: none;
}
@media screen and (max-width: 1269px) {
  .dashboard__filter {
    width: 50px;
    color: #FFFFFF;
  }
  .dashboard__filter img {
    padding-top: 10px;
    padding-left: 6px;
  }
}

.dashboard__list-item img {
  padding-right: 10px;
}

.dashboard__button {
  overflow: hidden;
  width: 180px;
  height: 46px;
  color: #FFFFFF;
  border: 1px solid #FD5A01;
  background: #FD5A01;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.dashboard__button:focus {
  outline: none;
}
@media screen and (max-width: 1269px) {
  .dashboard__button {
    width: 50px;
    color: #FD5A01;
  }
}

.dashboard__list-item_active {
  position: relative;
}
.dashboard__list-item_active:before {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -6px;
  height: 2px;
  width: 140%;
  border-bottom: 1px solid #202A49;
}

.dashboard__pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}