.modal-content {
  position: absolute;
  left: -12%;
  top: 7%;
  width: 150%;
  //height: 680px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 20px;
  z-index: 1;
  padding: 32px;
}
.create-post{
  display: grid;
  align-content: space-between;
  justify-content: space-between;
  //grid-row-end: 20px;
  grid-column-gap: 50px;
  grid-template-rows: 8% 30% 13% 16% 19% 12%;
  grid-template-columns: repeat(2, 45%);
  grid-template-areas:
    "t t"
    "lf lt"
    "dt dt"
    "ttl ds"
    "p p"
    "b b";
}
.modal-content {
  position: absolute;
  left: -12%;
  top: 7%;
  width: 150%;
  //height: 680px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 20px;
  z-index: 1;
  padding: 32px;
}
  .create-provide-delivery{
  display: grid;
  align-content: space-between;
  justify-content: space-between;
  //grid-row-end: 20px;
  grid-column-gap: 50px;
  grid-template-rows: 8% 32% 32% 20% 8%;
  grid-template-columns: repeat(2, 45%);
  grid-template-areas:
    "t t"
    "lf lt"
    "dt dt"
    "ttl ds"
    "b b";
}
ul{
  list-style: none;
  padding: 0;
}
.modal-content {
  position: absolute;
  left: -12%;
  top: 7%;
  width: 150%;
  //height: 680px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 20px;
  z-index: 1;
  padding: 32px;
}
.create-post-airport{
  display: grid;
  align-content: space-between;
  justify-content: space-between;
  //grid-row-end: 20px;
  grid-column-gap: 50px;
  grid-template-rows: 2% 45% 20% 16% 19% 12%;
  grid-template-columns: repeat(2, 45%);
  grid-template-areas:
    "t t"
    "lf lt"
    "dt dt"
    "ttl ds"
    "b b";
}
.form-control{
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}
.create-post__type{
  grid-area: t;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #202A49;
}
.create-post__location-from{
  grid-area: lf;
}
.create-post__location-to{
  grid-area: lt;
}
.create-post__date{
  grid-area: dt;
  display: inline-block;
}
.create-post__title{
  grid-area: ttl;
}
.create-post__description{
  grid-area: ds;
}
.create-post__photos{
  grid-area: p;
  width: 470px;
}
.create-post__host-preferences{
  grid-area: p;
}
.create-post__photo{
  width: 116px;
  height: 80px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}
.create-post__add-photo{
  width: 9px;
  height: 9px;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-image: url('../images/plus.svg');
  &:focus{
    outline: none;
    background: none;
    border: none;
    padding: 0;
  }
}
.create-post__icon{
  width: 22px;
}
.create-post__buttons{
  grid-area: b;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.create-post__buttons button{
  width: 200px;
  height: 46px;
  color: #FFFFFF;
  border-radius: 12px;
  border: none;
  outline: none;
  &:focus{
    border: none;
    outline: none;
  }
}
.create-post__cancel-button{
  background: #202A49;
  margin-right: 15px;
}
.create-post__save-button{
  background: #FD5A01;
}
.create-post__form-title{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  //line-height: 20px;
  color: #424141;
  padding-bottom: 3px;
}
.create-post__host-preference-type{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #424141;
  margin-left: 5px;
}
//.form-control select{
//  width: 200px;
//}