.full-review .modal-content {
  position: absolute;
  left: 20%;
  width: 85%;
  background: #FFFFFF;
  border-radius: 20px;
  z-index: 99;
  padding: 27px 32px;
}

.full-review__text {
  width: 95%;
  height: 60%;
  overflow: auto;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #000000;
}

.full-review__rating {
  margin-bottom: 17px;
}

.full-review__rating-star {
  margin-top: 0;
  padding-top: 0;
  margin-right: 12px;
  width: 20px;
}

.full-review__exit {
  float: right;
  cursor: pointer;
}
.full-review__exit:hover {
  background-color: #f5f4f2;
  box-shadow: 0 0 0 10px #f5f4f2;
  border-radius: 50%;
}

.full-review__image {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 96%;
  height: 149px;
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}

.full-review__image-item {
  position: absolute;
}

.rate__input-file-btn {
  height: 0;
  overflow: hidden;
  width: 0;
}

.rate__input-file-btn + label {
  position: relative;
  cursor: pointer;
  width: 95%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}
.rate__input-file-btn + label.rate__input-file-fake {
  overflow: hidden;
}
.rate__input-file-btn + label.rate__input-file-fake img {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 10px #E6E6E6;
  border-radius: 50%;
  display: inline-block;
}
.rate__input-file-btn + label.rate__input-file-fake:hover img {
  background-color: #f5f4f2;
  box-shadow: 0 0 0 10px #f5f4f2;
  border-radius: 50%;
}

textarea.rate__text.form-control {
  background: #F0F0F0 !important;
  height: 160px;
}

.rate__attach-photo-lbl {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #B8B8B8;
  margin-top: 20px;
}

.rate__title {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}