.profile{
  background-color: #E5E5E5;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 80px minmax(893px, auto) 51px;
}
.profile__title{
  margin-left: 7.8%;
  margin-right: auto;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 2%;
}
.profile__list-item_active{
  position: relative;
  color: #FD5A01;
  &:before{
    content: "";
    position: absolute;
    left: -20%;
    bottom: -6px;
    height: 2px;
    width: 140%;
    border-bottom: 1px solid #FD5A01;
  }
}