.profile {
  background-color: #E5E5E5;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 80px minmax(893px, auto) 51px;
  overflow: hidden;
}
@media screen and (max-width: 1115px) {
  .profile {
    grid-template-columns: 5% 95%;
  }
}

.profile__title {
  margin-left: 7.8%;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 2%;
}

.profile__list-item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: black;
}
.profile__list-item:hover {
  color: #FD5A01;
  text-decoration: none;
}

.profile__list-item_active {
  position: relative;
  color: #FD5A01;
}
.profile__list-item_active:before {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -6px;
  height: 2px;
  width: 140%;
  border-bottom: 1px solid #FD5A01;
}