.profile__title{
  margin-left: 7.8%;
  margin-right: auto;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 2%;
}