$font-family: Muller;
.sidebar {
  display: grid;
  position: relative;
  padding-left: 32px;
  padding-top: 30px;
  background-color: #202A49;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-gap: 0;
  grid-template-rows: repeat(4, 58px);
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "l l"
    "p g"
    "p g"
    "r r";
  &:before{
    content: "";
    position: absolute;
    left: 10%;
    top: 280px;
    height: 1px;
    width: 83%;
    border-bottom: 1px solid rgba(196, 196, 196, 0.23);
  }
}
.sidebar__item-logo {
  grid-area: l;
}

.sidebar__item-photo {
  grid-area: p;
  align-self: center;
}
.sidebar__item-greeting{
  grid-area: g;
  align-self: center;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}
.sidebar__item-rating{
  grid-area: r;
  align-self: end;
}
.sidebar__item-rating-star{
  margin-right: 12px;
}
.sidebar__weather{
  grid-area: w;
}