.login-container {
  width: 100%;
  background: url("../../images/image-for-landing.png") no-repeat;
  min-height: 900px;
  position: relative;
}
.login-container:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(32, 42, 73, 0.3);
}

.login-form {
  z-index: 5;
  display: grid;
  position: absolute;
  left: 18%;
  top: 10%;
  padding: 2% 3%;
  width: 67.43%;
  height: 600px;
  background-color: #FFFFFF;
  grid-gap: 5%;
  grid-template-columns: 45% 50%;
}

.reset-form {
  z-index: 5;
  position: absolute;
  left: 35%;
  top: 10%;
  padding: 2% 3%;
  width: 32%;
  height: 400px;
  background-color: #FFFFFF;
}

.reset__text {
  display: flex;
  justify-self: center;
  width: 80%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-self: center;
  color: rgba(0, 0, 0, 0.5);
}

.login-form__item {
  display: grid;
  justify-content: center;
  grid-template-rows: 30% 35% 16%;
  align-items: flex-end;
}

.reset-form__item {
  height: 300px;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.login__title {
  display: flex;
  justify-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #202A49;
}

.reset__title {
  display: flex;
  justify-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #202A49;
}

.login__exit-link {
  display: inline-block;
  margin-bottom: 24px;
  float: right;
}

.login__exit {
  width: 14px;
  height: 14px;
}
.login__exit:hover {
  background-color: #f5f4f2;
  box-shadow: 0 0 0 10px #f5f4f2;
  border-radius: 50%;
}

.login__forgot-pswrd {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FD5A01;
}