.terms-conditions .modal-content {
  left: 0;
  top: 13%;
  width: 100%;
  height: 600px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 32px;
}
@media screen and (min-width: 1000px) {
  .terms-conditions .modal-content {
    left: -15%;
    width: 150%;
  }
}

.terms__title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #202A49;
  margin-bottom: 2%;
}

.terms__text {
  padding-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
  overflow-y: scroll;
  width: 98%;
  height: 700px;
}
.terms__text::-webkit-scrollbar {
  width: 5px;
  box-sizing: content-box;
}
.terms__text::-webkit-scrollbar-track {
  background: #F4F3F3;
  border-radius: 10px;
}
.terms__text::-webkit-scrollbar-thumb {
  background: #D8D8D8;
  border-radius: 10px;
}
.terms__text::-webkit-scrollbar-thumb:hover {
  background: #888;
}