.update-info .modal-content {
  left: -15%;
  top: 13%;
  width: 170%;
  height: 600px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 32px;
}

textarea.update__about-me.form-control {
  width: 350px;
  height: 92px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
textarea.update__about-me.form-control::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.update__inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4% 0 0 0;
}

.update__input {
  width: 350px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.update__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

[type=file] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type=file] + label {
  position: relative;
  cursor: pointer;
  width: 116px;
  height: 80px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}
[type=file] + label.update__input-file-fake {
  overflow: hidden;
}
[type=file] + label.update__input-file-fake img {
  display: inline-block;
  transition: all 0.3s;
}
[type=file] + label.update__input-file-fake::before {
  content: "";
  font-size: 130%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background: url("../../create-post/images/plus.svg") no-repeat center;
  left: 0;
  line-height: 2.6;
  position: absolute;
  top: -180%;
  transition: all 0.3s;
  width: 100%;
}
[type=file] + label.update__input-file-fake:hover img {
  transform: translateY(300%);
}
[type=file] + label.update__input-file-fake:hover::before {
  top: 5px;
}