.makeStyles-root-1{
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
    box-sizing: content-box;
  }

  &::-webkit-scrollbar-track {
    background: #F4F3F3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #D8D8D8;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}