.logout-content .modal-content{
  border-radius: 20px;
  left: 20px;
  width: 100%;
}
button.logout__yes.btn.btn-primary{
  background-color: #FD5A01;
  border: none;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    background-color: #FD5A01;
  }
}
button.logout__no.btn.btn-primary{
  background-color: #202A49;
  border: none;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    background-color: #202A49;
  }
}