.register-container {
  width: 100%;
  background: url("../../images/image-for-landing.png") no-repeat;
  min-height: 900px;
  position: relative;
}
.register-container:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(32, 42, 73, 0.3);
}

.register-form {
  position: absolute;
  z-index: 5;
  left: 18%;
  top: 10%;
  padding: 4% 6%;
  width: 67.43%;
  background-color: #FFFFFF;
}

.register__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #202A49;
}

.register__exit {
  float: right;
  width: 14px;
  height: 14px;
}
.register__exit:hover {
  background-color: #f5f4f2;
  box-shadow: 0 0 0 10px #f5f4f2;
  border-radius: 50%;
}

.register__inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4% 0 3% 0;
}

.register__input {
  width: 350px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.register__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.register__input.form-control {
  width: 350px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.register__input.form-control::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.required::before {
  content: "*";
  color: tomato;
}

.register__checkbox {
  display: flex;
  align-content: flex-end;
  margin-right: auto;
  padding-left: 9%;
}

.register__checkbox-lbl {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FD5A01;
}
.register__checkbox-lbl label {
  margin: 0;
}
.register__checkbox-lbl label:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}

.register__sign-up {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.register__sign-up-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  width: 350px;
  height: 48px;
  color: #FFFFFF;
  background: #202A49;
  border-radius: 12px;
  outline: none;
}
.register__sign-up-btn:disabled {
  opacity: 0.5;
}
.register__sign-up-btn:focus {
  outline: none;
  border: none;
}