.register-container{
  width: 100%;
  background: url("../../images/image-for-landing.png") no-repeat;
  min-height: 900px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(32, 42, 73, 0.3);
  }
}

.register-form{
  position: absolute;
  z-index: 5;
  left: 18%;
  top: 10%;
  padding: 4% 6%;
  width: 67.43%;
  //height: 550px;
  background-color: #FFFFFF;
}
.register__title{
  font-family: Muller;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #202A49;
}
.register__exit{
  float: right;
  width: 14px;
  height: 14px;
  &:hover{
    background-color: #f5f4f2;
    box-shadow: 0 0 0 10px #f5f4f2;
    border-radius: 50%;
  }
}
.register__inputs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4% 0 3% 0;
}
.register__input{
  width: 350px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  &::placeholder{
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
  }
}
.register__checkbox{

  margin-right: auto;
  padding-left: 9%;
}
.register__checkbox-lbl{
  display: flex;
  align-items: center;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #FD5A01;
}
.register__sign-up{
  display: flex;
  justify-content: flex-end;
}
.register__sign-up-btn{
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  width: 350px;
  height: 48px;
  color: #FFFFFF;
  background: #202A49;
  border-radius: 12px;
  outline: none;
  &:focus{
    outline: none
  }
}