.register-container {
  width: 100%;
  background: url("../../images/image-for-landing.png") no-repeat;
  min-height: 900px;
}

.register-form {
  position: fixed;
  left: 15%;
  top: 10%;
  width: 971px;
  height: 681px;
  background-color: #FFFFFF;
}