.header {
  background-color: #E5E5E5 !important;
  position: relative;
  padding-right: 5.5%;
}
.header:before {
  content: "";
  position: absolute;
  left: 75.75px;
  bottom: 0;
  height: 1px;
  width: 85.3%;
  border-bottom: 1px solid rgba(196, 196, 196, 0.23);
}

.inbox-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 5.5%;
}

.nav {
  padding-top: 8px;
}

.nav__item {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-right: 2em;
}
.nav__item:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.mr-auto {
  margin-left: 59.75px;
}

.nav__item_active {
  background-color: #202A49;
  color: #FFFFFF;
  padding: 12px 16px;
  border: 1px solid #202A49;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.nav__item_logout {
  font-size: 16px;
  line-height: 16px;
  margin-right: 0;
  margin-left: 30px;
}

.nav__item-logout-icon {
  margin-right: 8px;
}