.header {
  background-color: #E5E5E5 !important;
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  left: 75.75px;
  bottom: 0;
  height: 1px;
  width: 85.3%;
  border-bottom: 1px solid rgba(196, 196, 196, 0.23);
}

.nav {
  padding-top: 8px;
}

.nav__item {
  color: rgba(0, 0, 0, 0.5);
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.mr-auto {
  margin-left: 59.75px;
}

.nav__item_active {
  background-color: #202A49;
  color: #FFFFFF;
  border-spacing: 16px 14px;
  border: 1px solid #202A49;
  border-radius: 12px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.nav__item_logout {
  position: absolute;
  right: 77px;
  font-size: 16px;
  line-height: 16px;
}

.nav__item-logout-icon {
  margin-right: 8px;
}