.inbox-page{
  width: 100%;
  display: grid;
  grid-template-columns: 46.8% 53.2%;
  min-height: 1024px;
  grid-template-rows: 80px minmax(974px, auto) 50px;
  background: #E5E5E5;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 50px;
    top: 80px;
    height: 1px;
    width: 92.5%;
    border-bottom: 1px solid rgba(196, 196, 196, 0.23);
  }
}
.inbox-page__sidebar{
  background: #FFFFFF;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 4%;
  padding-left: 8%;
}
.inbox-page__content{

}