.switch {
  position: absolute;
  width: 480px;
  left: 60%;
  top: 160px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 656;
  padding: 30px;
}
@media screen and (max-width: 1300px) {
  .switch {
    left: 45%;
  }
}
@media screen and (max-width: 960px) {
  .switch {
    left: 35%;
  }
}
@media screen and (max-width: 785px) {
  .switch {
    left: 25%;
  }
}
@media screen and (max-width: 680px) {
  .switch {
    left: 15%;
    top: 15%;
  }
}
@media screen and (max-width: 595px) {
  .switch {
    display: flex;
    flex-flow: column;
    width: 80%;
    left: 15%;
    top: 15%;
  }
}

.switch__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.switch ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.switch__list li {
  position: relative;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.switch li {
  position: relative;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 20px;
}

input[type=radio] {
  margin-right: 11px;
}
input[type=radio]:checked + label {
  color: #FD5A01;
}

.switch__title {
  width: 99px;
  height: 22px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #202A49;
  margin-bottom: 20px;
}

.switch__buttons {
  float: right;
}

.switch__buttons li {
  display: inline;
}

.switch__button {
  background: transparent;
  border: none;
  outline: none;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #202A49;
  margin-left: 41px;
}
.switch__button:focus {
  outline: none;
  border: none;
}
.switch__button:hover {
  color: #FD5A01;
}