.inprogress__icon-more {
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

.in-progress__requester {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  color: #03D031;
}

.inprogress__post-type {
  display: flex;
  justify-content: space-between;
}

button.dropdown-toggle.btn.btn-primary{
  //background-image: url("https://img.icons8.com/ios-glyphs/30/000000/more.png");
  border: none;
  outline: none;
  background-color: #FFFFFF;
  &:focus{
    outline: none !important;
    border: none;
    background-color: #FFFFFF;
  }
  &:active{
    outline: none;
    border: none
  }
  &:not(:disabled):not(.disabled):active{
    outline: none;
    border: none
  }
  &:after{
    background-image: none;
    border: none;
  }
}